* {
  box-sizing: border-box;
}

html,
body,
main {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  --purple: #a978e9;
  --darkPurple: #5e0a71;
  --hoverPurple: #41004f;
}

main,
input,
button {
  font-family: "Lato", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e2e2e2;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.new_employee_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  height: 12vh;
  margin-top: 4vh;
  background-color: var(--purple);
  border-radius: 6px;
}

.new_employee_box.hide {
  display: none;
}

button {
  padding: 2% 4%;
  background-color: var(--darkPurple);
  color: #fff;
  border: none;
  font-weight: 400;
  font-size: 16px;
  border-radius: 6px;
}

button:hover {
  cursor: pointer;
  background-color: var(--hoverPurple);
}

button:active {
  background-color: var(--hoverPurple);
}

.employee_info_box {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  margin-top: 4vh;
  padding: 4%;
  background-color: var(--purple);
  border-radius: 6px;
}

.employee_info_box.show {
  display: flex;
}

.field_box {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-bottom: 3vh;
}

label {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 2%;
}

input[type="text"],
input[type="email"] {
  border: none;
  border-radius: 4px;
  padding: 2%;
  font-size: 16px;
}

.buttons {
  display: flex;
  justify-content: right;
  width: 60%;
}

.buttons .cancel {
  border: 2px solid var(--darkPurple);
  background-color: var(--purple);
  color: var(--darkPurple);
  font-weight: 700;
}

.buttons .cancel:hover,
.buttons .cancel:active {
  border: 2px solid var(--hoverPurple);
  color: var(--hoverPurple);
}

.buttons .save {
  margin-left: 4%;
}

.employee_details {
  width: 60vw;
  margin-top: 2vh;
  padding: 2% 4%;
  background-color: var(--darkPurple);
  border-radius: 6px;
  color: #fff;
}

.employee_details:last-child {
  margin-bottom: 4vh;
}

@media only screen and (min-width: 360px) and (max-width: 768px) {
  .employee_info_box,
  .new_employee_box,
  .employee_details {
    width: 90vw;
  }

  .buttons {
    justify-content: space-between;
  }

  .new_employee_box button,
  .buttons button {
    padding: 4% 8%;
  }

  .employee_info_box .field_box,
  .employee_info_box .buttons {
    width: 90%;
  }

  .employee_details {
    padding: 2% 6%;
  }
}
