* {
  box-sizing: border-box;
}

html,
body,
main {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

main,
input,
button {
  font-family: "Lato", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e2e2e2;
}

.new_employee_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  height: 12vh;
  margin-top: 8vh;
  background-color: #a978e9;
  border-radius: 6px;
}

.new_employee_box.hide {
  display: none;
}

button {
  padding: 2% 4%;
  background-color: #5e0a71;
  color: #fff;
  border: none;
  font-weight: 400;
  font-size: 16px;
  border-radius: 6px;
}

button:hover {
  cursor: pointer;
  background-color: #41004f;
}

button:active {
  background-color: #41004f;
}

.employee_info_box {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  margin-top: 8vh;
  padding: 4% 2%;
  background-color: #a978e9;
  border-radius: 6px;
}

.employee_info_box.show {
  display: flex;
}

.info_row {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-bottom: 2%;
}

.field_box {
  display: flex;
  flex-direction: column;
  width: 48%;
}

label {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 2%;
}

input[type="text"],
input[type="email"] {
  border: none;
  border-radius: 4px;
  padding: 3% 6%;
  font-size: 16px;
}

.buttons {
  width: 90%;
  display: flex;
  justify-content: right;
}

.buttons .save,
.buttons .cancel {
  margin-top: 6%;
}

.buttons .cancel {
  border: 2px solid #5e0a71;
  background-color: #a978e9;
  color: #5e0a71;
  font-weight: 700;
}

.buttons .cancel:hover,
.buttons .cancel:active {
  border: 2px solid #41004f;
  color: #41004f;
}

.buttons .save {
  margin-left: 4%;
}

.employee_details {
  width: 60vw;
  margin-top: 2vh;
  padding: 1% 2%;
  background-color: #5e0a71;
  border-radius: 6px;
  color: #fff;
}
